@media screen and (max-width : 1024px) {
  body {
    font-size: x-large;
  }
  *{
    box-sizing: border-box;
    margin: 0;
  }
  .header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    font-size: 35px;
    gap: 10px;

  }

  .header--image img{
    width: 40px;
    height: 40px;

  }

  .header--text{
    font-weight: bold;
    color: white;
  }

  .place--visited {
    display: flex;
    gap: 20px;
    padding: 20px 100px;
    margin-top: 60px;
  }

  .place--visited img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
  }

  .informations {
    display: flex;
    flex-direction: column;
  
  }
  .informations > .description  {
    text-align: justify;
  }

  
}