@media screen and (max-width : 1024px) {
  body {
    font-size: x-large;
  }
  *{
    box-sizing: border-box;
    margin: 0;
  }
  .header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    font-size: 35px;
    gap: 10px;

  }

  .header--image img{
    width: 40px;
    height: 40px;

  }

  .header--text{
    font-weight: bold;
    color: white;
  }

  .place--visited {
    display: flex;
    gap: 20px;
    padding: 20px 100px;
    margin-top: 60px;
  }

  .place--visited img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
  }

  .informations {
    display: flex;
    align-items: center;
    align-content: center;
  

  }

  .info-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 8px;

  }

  .informations > .description  {
    text-align: justify;
  }
  
  .localisation {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }

  .localisation img {
    width: 24px;
    height: 24px;
  }
  .localisation .country{ 
    letter-spacing: 0.5rem;
  }

  .localisation .map--link a {
    color: #918E9B;
  }
  .info-content .dates {
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 12px;
  }
  .info-content .place--name{
    margin-bottom: 20px;
  }

  
}